.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #929BBC;
  padding: 10px;
  border-radius: 6px;

  .btn {
    margin-top: 5px;
    display: flex;
    gap: 4px;
  }
}
